/* Base Css Start */
:root {
    --primary_color: #FFD703;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #000000;

}

p {
    line-height: 24px;
}

a {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

ul,
ol {
    list-style: none;
}

/* Base Css End */

/* Utility Css Start */
.cs-container {
    max-width: 768px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.text_uppercase {
    text-transform: uppercase;
}

.d_inline_block {
    display: inline-block;
}

.img_fluid {
    max-width: 100%;
}

.text_center {
    text-align: center;
}

.p_relative {
    position: relative;
}

.p_absolute {
    position: absolute;
}

.border-primary-1 {
    border: 1px solid var(--primary_color);
}

.border-radius-lg {
    border-radius: 70px;
}

.z-index-1 {
    z-index: 1;
}

.mt-30 {
    margin-top: 30px;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.mb-34 {
    margin-bottom: 34px !important;
}

.d_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.align_items_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.justify_content_center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mb-0 {
    margin-bottom: 0 !important;
}

/* Utility Css End */




/* common css start */
.master-inner-box {
    margin: 20px;
    min-height: calc(100vh - 40px);
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.master-inner-box::after {
    content: "";
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 1px solid var(--primary_color);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.date-wrapper {
    right: 28px;
    top: 10px;
}

.date-wrapper p {
    font-style: italic;
    font-weight: 100;
    font-size: 13px;
    line-height: 22px;
    color: var(--white);
}

.main-content-wrapper {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 70px 30px;
    min-height: 400px;
    max-width: 768px;
    padding-bottom: 80px;
}

.bottom-navigation {
    bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 24px;
    z-index: 1;
}

.navigation-arw img {
    width: 38px;
    display: block;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.prev-arw:hover img {
    -webkit-transform: perspective(300px) rotatey(-35deg);
    transform: perspective(300px) rotatey(-35deg);
}

.next-arw:hover img {
    -webkit-transform: perspective(300px) rotatey(35deg);
    transform: perspective(300px) rotatey(35deg);
}

.access-wrapper {
    padding: 15px;
}

.section-title {
    background: #000000;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transform: rotate(-0.14deg);
    -ms-transform: rotate(-0.14deg);
    transform: rotate(-0.14deg);
    text-align: center;
    margin-bottom: 50px;
}

.section-title::after {
    content: "";
    background-image: url(../images/title-line.png);
    width: 105%;
    height: 77px;
    position: absolute;
    bottom: -48px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.section-title h3 {
    font-style: italic;
    font-weight: 100;
    font-size: 25px;
    line-height: 30px;
    color: var(--white);
    margin: 0;
}

.input-boxes .el-rw:not(:last-child) {
    margin-bottom: 15px;
}

.input-box,
.box-btn,
.registri-rw {
    position: relative;
    border: 1px solid var(--primary_color);
    height: 46px;
}

.input-box::after,
.box-btn::after,
.registri-rw::after {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: -webkit-gradient(linear, right top, left top, color-stop(25%, #000000c2), to(transparent));
    background: -o-linear-gradient(right, #000000c2 25%, transparent);
    background: linear-gradient(to left, #000000c2 25%, transparent);
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.input-box.ui-reverse::after,
.registri-rw.ui-reverse::after {
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, #000000c2), to(transparent));
    background: -o-linear-gradient(left, #000000c2 25%, transparent);
    background: linear-gradient(to right, #000000c2 25%, transparent);
}

.input-box input {
    -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    background: transparent;
    border: 0;
    height: 100%;
    padding: 5px 15px;
    text-align: center;
    color: var(--white);
    font-family: Inter;
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
    position: relative;
    z-index: 1;
}

.input-box input:focus {
    outline: none;
}


.input-boxes .input-box:not(:last-child) {
    margin-bottom: 15px;
}

input::-webkit-input-placeholder {
    color: var(--white);
    opacity: 1;
}

input::-moz-placeholder {
    color: var(--white);
    opacity: 1;
}

input:-ms-input-placeholder {
    color: var(--white);
    opacity: 1;
}

input::-ms-input-placeholder {
    color: var(--white);
    opacity: 1;
}

input::placeholder {
    color: var(--white);
    opacity: 1;
}

.input-box label {
    color: var(--white);
    font-family: Inter;
    font-style: italic;
    font-weight: 100;
    font-size: 22px;
    position: absolute;
    white-space: nowrap;
    top: 0;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    padding: 0 8px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 100%;
}

.input-box.check-box label {
    width: 100%;
}

.input-box input:not([type="checkbox"][type="radio"]):focus+label,
.input-box input:not([type="checkbox"][type="radio"]).filled+label {
    top: -8px;
    font-size: 13px;
    height: auto;
    background-color: var(--black);
    display: inline-block;
    text-align: left;
    width: auto;
    left: 50%;
    line-height: 1;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.form-content {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.box-btn {
    background: transparent;
    color: var(--white);
    padding: 5px 24px;
    height: 46px;
    font-family: Inter;
    font-style: italic;
    font-weight: 100;
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    line-height: 33px;
}

.input-box.check-box [type="checkbox"],
.input-box.check-box [type="radio"] {
    max-width: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}

.input-box.check-box [type="checkbox"]:checked+label,
.input-box.check-box [type="radio"]:checked+label {
    background-color: var(--primary_color);
    color: var(--black);
}

.input-boxes.type-2 .el-rw:not(:last-child) {
    margin-bottom: 40px;
}

.max-450 {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.name-list li a {
    display: inline-block;
    color: #fff;
    font-style: italic;
    font-weight: 100;
    font-size: 22px;
    text-decoration: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.name-list li {
    display: block;
    text-align: center;
    line-height: 1.7;
}

.name-list {
    padding: 10px 0;
}

/* common css end */

/* index page css start */
.main-logo {
    max-width: 350px;
    margin-bottom: 5px;
}

.sub-brand-logo img:not(:last-child) {
    margin-right: 10px;
}

.round-btn {
    font-style: italic;
    font-weight: 200;
    font-size: 25px;
    color: var(--white);
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 60px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background-image: url(../images/btn-bg.png);
    background-size: cover;
    background-position: center;
}

.round-btn.size-lg {
    font-size: 48px;
    padding: 10px 30px;
    min-width: 260px;
}

.round-btn:hover {
    background: var(--primary_color);
    color: var(--black);
}

.sub-brand-logo {
    margin-bottom: 24px;
}

.some-more-brand {
    margin-top: 30px;
}

.some-more-brand img:not(:last-child) {
    margin-right: 15px;
}

.main-content-wrapper.type-2 {
    padding: 15px 120px;
}

.type-2 .access-wrapper {
    padding: 0;
}

.pdf-link {
    left: 35px;
    top: 25px;
}

.user-link {
    bottom: 25px;
    left: 35px;
}

.user-link img,
.pdf-link img {
    width: 38px;
}

.type-3 .section-title {
    margin-top: 45px;
}

.main-content-wrapper.type-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* index page css end */

/* admin-page-2 css start */

.registri-rw {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
}

.registri-el {
    font-style: italic;
    font-weight: 100;
    font-size: 22px;
    color: #fff;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.registri-data-wrapper .registri-rw:not(:last-child) {
    margin-bottom: 10px;
    position: relative;
}

.registri-rw .registri-el {
    position: relative;
}

.registri-rw .registri-el:not(:last-child)::after {
    content: "";
    background-image: url('../images/obligue.svg');
    width: 20px;
    height: calc(100% + 5px);
    position: absolute;
    right: 0;
    top: -3px;
}

.pagination-wrap li a {
    font-style: italic;
    font-weight: 100;
    font-size: 22px;
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    padding: 2px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.pagination-wrap li a:hover {
    color: var(--primary_color);
}

.pagination-wrap li button {
    background: transparent;
    border: 0;
    padding: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination-wrap li button img {
    width: 15px;
}

.main-content-wrapper.type-4 {
    padding-bottom: 100px;
    padding-top: 60px;
}

/* admin-page-2 css end */


/* crud operation css start */
.form-content {
    transition: all .3s;
}

.congratulation-wrapper .main-logo {
    margin-bottom: 44px;
}

.congratulation-wrapper {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: all .4s ease;
    transform: translateY(100px);
}

.congratulation .congratulation-wrapper {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.congratulation .form-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-35px) scale(.8);
}

.congratulation .bottom-navigation {
    opacity: 0;
    visibility: hidden;
}

/* crud operation css end */




/* Media Query */
@media screen and (max-width: 640px) {
    .master-inner-box {
        margin: 10px;
        min-height: calc(100vh - 20px);
    }

    .main-content-wrapper {
        padding: 70px 15px;
        padding-bottom: 90px;
        min-height: 300px;
    }

    .section-title {
        margin-bottom: 34px;
    }

    .section-title h3 {
        font-size: 20px;
        line-height: 27px;
    }

    .input-box label,
    .name-list li a {
        font-size: 18px;
    }

    .main-logo {
        max-width: 150px;
    }

    .sub-brand-logo img {
        max-width: 50px;
    }

    .some-more-brand img:not(:last-child) {
        margin-right: 5px;
    }

    .some-more-brand img {
        max-height: 20px;
    }

    .main-content-wrapper.type-2 {
        padding: 80px 15px;
        padding-bottom: 20px;
    }

    .pdf-link {
        left: 58px;
        top: 13px;
    }

    .user-link {
        bottom: auto;
        left: 124px;
        top: 13px;
    }

    .round-btn.size-lg {
        font-size: 30px;
        padding: 10px 30px;
        min-width: 210px;
    }

    .type-3 .section-title {
        margin-top: 35px;
    }

    .main-content-wrapper.type-3 {
        padding-bottom: 60px;
    }

    .registri-data-wrapper {
        overflow-x: scroll;
        padding-bottom: 15px;
        max-width: 100%;
    }

    .registri-rw {
        min-width: 767px;
    }

    .registri-el {
        font-size: 18px;
    }

    .main-content-wrapper.type-4 {
        padding-bottom: 85px;
        padding-top: 60px;
        max-width: 100%;
    }

    .pagination-wrap li a {
        font-size: 18px;
    }

    .d_mobile_none {
        display: none;
    }

}